<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diy.weeding.mapper.ArticleMapper">
	<!-- 映射 resultMap -->
	<resultMap type="com.diy.weedingsecretary.domain.MicroClassArticle"
		id="articleRM">
		<id property="id" column="id" />
		<result property="content" column="content" />
	</resultMap>

	<!-- 查询一条 -->
	<select id="get" parameterType="int" resultMap="articleRM">
		select * from
		tb_microclass_article where id=#{id}
	</select>

	<!-- 新增一条记录 默认 状态为1启用 -->
	<insert id="insert" parameterType="com.diy.weedingsecretary.domain.MicroClassArticle">
		insert into tb_microclass_article
		(id, content)
		values
		(#{id},#{content})
	</insert>

	<!-- 批量新增测试 -->
	<insert id="insertBatch" parameterType="map">
		insert into tb_microclass_article
		(id,content)
		values
		<foreach collection="articleList" item="a" separator=",">
			(#{a.id},#{a.content})
		</foreach>
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.diy.weedingsecretary.domain.MicroClassArticle">
		update tb_microclass_article
		<set>
			content=#{content}
		</set>
		where id = #{id}
	</update>

	<!-- 删除一条 -->
	<delete id="delete" parameterType="int">
		delete from tb_microclass_article where id =
		#{id}
	</delete>

</mapper>